.pad {
  display: inline-grid;
  position: relative;
}

app-dial-button, app-marker {
  margin: 8px;
  width: 68px;
  max-width: 68px;
  height: 68px;
  max-height: 68px;
}

app-marker {
  position: absolute;
  grid-row-start: 1;
  grid-column-start: 1;
  transition: top 0.3s ease, left 0.3s ease;
  pointer-events: none;
}
