<div class="pad" [ngStyle]="{
  'grid-template-columns': 'repeat('+cols+', 1fr)',
  'grid-template-rows': 'repeat('+rows+', 1fr)',
  'background-color': 'hsl('+ padColor + ', 90%)'
  }">
  @if (!isLast) {
    <app-marker [ngStyle]="markerStyle$ | async" [color]="markerColor"></app-marker>
  }
  @for (dial of dials; track $index) {
  <app-dial-button [val]="dial.char"
  (click)="control(dial.val)"
  [ngStyle]="{
    'grid-row-start': dial.pos[0],
    'grid-row-end:': dial.pos[0],
    'grid-column-start': dial.pos[1],
    'grid-column-end': dial.pos[1],
    }">
  </app-dial-button>
  }
</div>
