:host {
  max-height: 68px;
  max-width: 68px;
}

.marker {
  border-radius: 50%;
  background: radial-gradient(transparent 0%,#d6b60f 100%);
  margin: 4.5px;
  width: 58px;
  height: 58px;
  user-select: none;
}
